* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
 
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}
header {
  width: 100%;
  height: 70px; /* 高さ */
  background-color:#EC715F;
}
nav{
    width: 1024px;
    margin: 0 auto;
}
nav img{
  height: 70px;
}
/* クラス名headerのタグ内のh1にのみ適応される */
header .headline{
  font-size: 32px;
}
.nav-list {
  width: 512px;
  text-align: center;
 float: right;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  text-align: center; /* 文字を真ん中に寄せる */
   padding-top: 20px;
     color: #FAFAFA;
  font-size: 16px;
}
 
.nav-list-item a{
  color: #FAFAFA;

}
 
.main-visual {
  width: 100%; /* 横幅 */
  height: 650px; /* 高さ */
  background-image: url(img/mv.png);
  background-size: cover; 
  background-position: center;
 
}
#nav-drawer{
  display: none;
}
.main-visual-content{
  width: 500px; /* 横幅を指定 */
  height: 300px; /* 親の高さに揃える */
  text-align: center; /* 文字を真ん中に寄せる */
  padding-top: 200px;
  font-size: 64px;
  margin: 0 auto;
  /*vertical-align: middle;*/
}
 .main-visual-text{
  padding-top: 38px;
  vertical-align: middle;
  color:#FAFAFA;
 }
 .main-visual-name{
  padding-top: 10px;
  font-size: 20px;
  color:#FAFAFA;
 }
.main {
}
.Portfolio {
  width: 100%;
  height: auto;
  background-color: #ECEFF1;
  text-align: center; /* 文字を真ん中に寄せる */
  padding-top: 90px;
  font-size: 32px;
  margin: 0 auto;

}
.line{
  width: 70px;
  height: 1px;
  background-color: #EC715F;
  margin: 0 auto;
  padding-top: 8px;

}
.textA{
  font-size: 32px;
  margin: 0 auto;
  text-align: center; /* 文字を真ん中に寄せる */
  color:#000000;
}
.textA::after{
content:"";
background-color: red;
width: 70px;
height: 3px;
margin: 0 auto;
display: block;

}
.textB{
padding-top: 38px;
  font-size:16px;
  color:#000000;
}
.sidebar-contents{
  padding-top: 30px;
  padding-bottom: 90px;

}
.box{
  width: 940px;
  margin: auto;
}
.instagram-box {
  float: left;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  }
.instagram-box:nth-child(odd) {
  margin: 0 10px 10px 10px;
  }
.instagram-box:nth-child(1) {
  background-image: url(img/sketch.jpg);
  }
.instagram-box:nth-child(2) {
  background-image: url(img/talk.jpg);
  }
.instagram-box:nth-child(3) {
  background-image: url(img/write.jpg);
  }
.instagram-box:nth-child(4) {
  background-image: url(img/webcamp-mother.png);
  margin: 0 0 0 10px;
  }
.instagram-box:nth-child(5) {
  background-image: url(img/webcamp.png);
  }
.instagram-box:nth-child(6) {
  background-image: url(img/websuku.png);
  }

.Peature {
  width: 100%;
  height: auto;
  text-align: center; /* 文字を真ん中に寄せる */
  padding-top: 90px;
  font-size: 32px;
  margin: 0 auto;

}
.textC::after{
 /* width: 70px;
  height: 1px;
  background-color: #EC715F;
  margin: 0 auto;
  padding-top: 8px;*/
  content:"";
background-color: red;
width: 70px;
height: 3px;
margin: 0 auto;
display: block;

}
.textC{
  padding-top: 90px;
  font-size: 32px;
  margin: 0 auto;
  text-align: center; /* 文字を真ん中に寄せる */
  color:#000000;
}
.textD{
padding-top: 38px;
  font-size:16px;
  color:#000000;
  text-align: center; /* 文字を真ん中に寄せる */
}
.box{
  margin: 0 auto;
}
.BOOK{
 width: 980px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.syaryouA{
width: 320px;
float: left;
text-align: center; /* 文字を真ん中に寄せる */
}
.syaryouB{
  width: 320px;
  float: left;/*横並びにするキーワード*/
  margin: 0 10px; /* 足し算をすることにより９８０になるようんいする*/
  text-align: center; /* 文字を真ん中に寄せる */
}
.syaryouC{
  width: 320px;
  float: left;
  text-align: center; /* 文字を真ん中に寄せる */
}
.syaryouB i{/*syaryouBの中でも<i>を弄るキーワード*/
  font-size: 60px;
  padding-top: 30px;
}
.syaryouC i{
  font-size: 60px;
  padding-top: 30px;
}
.syaryouA i{
  font-size: 60px;
  padding-top: 30px;
}
.textE{
  padding-top: 10px;
  font-size:20px;
  color:#000000;
}
.textF{
  padding-top: 10px;
  font-size:16px;
  color:#000000;
  text-align: left;
}
.textG{
  padding-top: 10px;
  font-size:20px;
  color:#000000;
}
.textH{
  padding-top: 10px;
  font-size:16px;
  color:#000000;
  text-align: left;
}
.textI{
  padding-top: 10px;
  font-size:20px;
  color:#000000;
}
.textJ{
  padding-top: 10px;
  font-size:16px;
  color:#000000;
  text-align: left;
}

.Profile{
  background-color: #ECEFF1;
}

.Profile_title{
  width: 100%;
  height: auto;
  text-align: center; /* 文字を真ん中に寄せる */
  padding-top: 90px;
  font-size: 32px;
  margin: 0 auto;
}
.Profile_title{
  font-size: 32px;
}
.bunsyou{
  font-size: 32px;

}
.bunnsyou::after{
content:"";
background-color: red;
width: 70px;
height: 3px;
margin: 0 auto;
display: block;

}
.Profile_text{
  padding-top: 38px;
  font-size:16px;
}
.yotyou{
  width: 1024px;
  margin: 0 auto;
}
.Profile4{
  text-align: left;
  width: 1024px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 90px;
}
.syasinnA{
  margin-top: 30px;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  text-align: center;
  display:block;;
  margin: 0 auto;
}
.syasinn{
  display:block;;
  margin: 0 auto;

}
.syasinnbox{
  float: left;
  width: 512px;
  margin: 0 auto;
}
.Profile5{
  float: left;
  width: 512px;


}
.MYname{
font-size:20px;
}
.imomusiA{
  padding-top:5px;
  font-size:16px;
}
.MYskill{
  padding-top: 8px;
  font-size:20px;
}
.imomusiB{
  padding-top: 5px;
  font-size: 16px;
}
.contact_title{
  width: 100%;
  height: auto;
  text-align: center; /* 文字を真ん中に寄せる */
  padding-top: 90px;
  font-size: 32px;
  margin: 0 auto;
}
.contact_title{
  font-size: 32px;
}

.contact_text{
  padding-top: 38px;
  font-size:16px;
}
.contact_last{
  width: 800px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 90px;
}
.MallandTell{
  width: 400px;
  text-align: left; 
  float: left;
  margin: 0 auto;
}
.MallandTellB{ 
  width:130px;
  margin: 0 auto;
}
.Mall{
  font-size: 20px;
}
.com{
  padding-top: 5px;
  font-size:16px;
  text-decoration: underline;
}
.Tell{
 padding-top: 20px;
 font-size:20px;
}
.zero{
padding-top: 5px;
font-size:16px;
text-decoration: underline;

}
.SNS{
  width: 400px;
  float: left;
  margin: 0 auto;
}
.SNSB{
  width: 206px;
  margin: 0 auto;
}
.SNS_text{
  font-size:20px;
}
.aicon{
  letter-spacing: 8px;
}
.SNS i{
  padding: 5px;
  font-size: 50px;
  /*padding-right: 20px;*/
}
.fa-twitter-f{
  padding-right: 8px;
}

footer {
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #EC715F
}
.footer-text {
  height: 100%;
  display: inline-flex;
  align-items: center;
  color: #fafafa;
}

.fas, .fa-bars{
  display: none;
}


@media screen and (max-width:767px) {
  header {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 0 5%;
    box-sizing: border-box;
}
.nav-list{
  display: none;
  background-image: url(<i class="fas fa-bars"></i>);
}
.menu-box{
  float: right;
  width: 40px;
  height:40px;
  border:1px solid #FAFAFA;
  margin-top: 5px;
  display: block;
  text-align: center;

}
.fa-bars{
  display: inline-block;
  padding-top: 2px;
  padding-right: 2px;
  font-size: 32px;
  width: 40px;
  color: "#FFF"
}

.list-bar{
  display: block;
  width:25px;
  height:2px;
  margin:5px auto;
  background-color: #FAFAFA;
}

.list-bar:first-child{
  margin-top:10px;

}
  body {
    width: 100%;
  }
  nav img{
  height: 50px;
}
  .main-visual {
  width: auto; /* 横幅 */
  height: 650px; /* 高さ */
  background-image: url(img/code.png);
}
.main-visual-text{
  
  font-size: 40px;
  margin: 0 auto;
    padding: 0 5%;
    box-sizing: border-box;
}
.main-visual-name{
  font-size: 18px;
}
.instagram-box {
  float: none;
}
.instagram-box:nth-child(odd) {
  margin: 0 10px 10px 10px;
  }
.instagram-box:nth-child(1) {
  background-image: url(img/sketch.jpg);
  display: none;
  }
.instagram-box:nth-child(2) {
  background-image: url(img/talk.jpg);
  display: none;
  }
.instagram-box:nth-child(3) {
  background-image: url(img/write.jpg);
  display: none;
  }
.instagram-box:nth-child(4) {
  background-image: url(img/webcamp-mother.png);
  margin: 0 auto;
  margin-bottom: 10px;
  }
.instagram-box:nth-child(5) {
  background-image: url(img/webcamp.png);
  margin: 0 auto;
  margin-bottom: 10px;
  }
.instagram-box:nth-child(6) {
  background-image: url(img/websuku.png);
  margin: 0 auto;
  }
.syaryouA{
  width: 320px;
  float: none;/*横並びにするキーワード*/
  margin: 10px auto; /* 足し算をすることにより９８０になるようんいする*/
  text-align: center; /* 文字を真ん中に寄せる */
  
}
.syasinn{
  margin: 0 auto;
  text-align: center; 
}
.syaryouB{
  width: 320px;
  float: none;/*横並びにするキーワード*/
  margin: 10px auto; /* 足し算をすることにより９８０になるようんいする*/
  text-align: center; /* 文字を真ん中に寄せる */
}
.syaryouC{
  width: 320px;
  margin: 10px auto;

  float: none;
  text-align: center; /* 文字を真ん中に寄せる */

}
.Profile4{
  width: 100%;
}
.yotyou{
  width:100%;
}
.Profile5{
  float: none;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}
.syasinnbox{
  float: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.MallandTell{
  width: 400px;
  text-align: center; 
  float: none;
  margin: 0 auto;
  display:block;
  }
.SNS{
  padding-top: 5px;
  width: 400px;
  float: none;
  border-radius: 100%;
  margin: 0 auto;
  text-align:center;
  display:block;
}
.BOOK{
 width: 100%;

}
.box{
  width: 100%;
}
.contact_last{
  width: 100%;
}
nav{
  width: 100%;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 2px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #FAFAFA;
  display: block;
  content: '';
  cursor: pointer;

}
span{
  margin-left:6px;
  margin-top:7px;
  display: block;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
}
.fa-bars:before{
  color: #FFF;
}
.main-visual-content{
  width: 100%
}



